site_name: Sparck Documentation
site_url: https://immersive-arts.github.io/sparck-documentation/
theme:
  custom_dir: overrides
  name: material
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  logo: assets/icons.iconset/icon_128x128.png
  favicon: assets/icons.iconset/icon_32x32.png
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: deep purple
      accent: green

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange
  features:
    - content.tooltips
    - content.code.annotate   
    - navigation.footer
    - navigation.tabs
    - navigation.path
    - navigation.indexes

markdown_extensions:
  - attr_list
  - def_list
  - material.extensions.preview:
      configurations:
        - targets:
            include:
              - reference/tooltips.md
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

extra:
  social:
    - icon: simple/vimeo
      link: https://vimeo.com/immersivearts
    - icon: simple/instagram
      link: https://instagram.com/immersive.arts

copyright: Copyright &copy; 2025 Martin Froehlich, Stella Speziali & Immersive Arts Space / Zurich University of the Arts

# Page tree
nav:
  - Home: index.md
  - Getting started:
    - Features: features.md
    - Setup: 
      - setup/index.md
      - Prerequisites: setup/prerequisites.md
      - Installation: setup/installation.md
    - Conventions: conventions.md
    - Philosophy: philosophy.md
    - Tutorials:
      - tutorials/index.md
      - "101":
        - tutorials/101/basic.md
      - Examples: tutorials/examples.md
  - Reference:
    - reference/index.md
  - Insiders:
    - insiders/index.md
    - Getting started: insiders/getting-started.md
    - Changelog:
      - insiders/changelog/index.md
    - License: insiders/license.md
  - Community:
    - Contributing:
      - contributing/index.md
      - Reporting a bug: contributing/reporting-a-bug.md
      - Reporting a docs issue: contributing/reporting-a-docs-issue.md
      - Requesting a change: contributing/requesting-a-change.md
      - Making a pull request: contributing/making-a-pull-request.md
      - Asking a question: https://github.com/immersive-arts/Sparck2/discussions/
